<h3>List of all Pets</h3>



<div class="row">

    <div class="col-6 col-md-4 offset-md-1">
        <button type="button" class="btn btn-success"> <i class="fa fa-plus-circle"></i> Add new pet</button>
    </div>

    <div class="col-6 col-md-6">
        <!-- SEARCH IN TABLE FORM -->
        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Filter table" [(ngModel)]="filterString">
        </div>
        <!-- / END: SEARCH IN TABLE FORM -->
    </div>

    <div class="col-12 col-md-10 offset-md-1">

        <!-- TABLE WITH DATA -->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>Employee</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row"  *ngFor="let pet of $petList | filter : 'name' : filterString;">
                    <th>{{pet.id}}</th>
                    <th>{{pet.name}}</th>
                    <th>{{pet.typeName}}</th>
                    <th>{{pet.employeeName}}</th>
                    <th class="table-buttons">
                        <button type="button" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button> &nbsp;
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                    </th>
                </tr>

            </tbody>
        </table>
        <!-- / END: TABLE WITH DATA -->
    </div>
</div>